<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="css/navbar.css">

    <title>NavBar</title>
</head>

<body>

    <div class="navbar" id="navbar">
        <nav class="nav">
            <div>
                <div class="nav__brand">
                    <a href="#" class="nav__logo">
                        <span>관리자페이지</span>
                    </a>
                </div>
                <div class="nav__list">
                    <a href="#" class="nav__link">
                        <ion-icon name="pie-chart" class="nav__icon"></ion-icon>
                        <span class="nav_name">대시보드</span>
                    </a>
                    <a href="#" class="nav__link">
                        <ion-icon name="people" class="nav__icon"></ion-icon>
                        <span class="nav_name">임직원관리</span>
                    </a>


                    <a href="#" class="nav__link">
                        <ion-icon name="receipt" class="nav__icon"></ion-icon>
                        <span class="nav_name">이용현황</span>
                    </a>

                    <a href="#" class="nav__link">
                        <ion-icon name="chatbubbles" class="nav__icon"></ion-icon>
                        <span class="nav_name">고객지원</span>
                    </a>

                    <!-- <div href="#" class="nav__link collapse">
                        <ion-icon name="folder-outline" class="nav__icon"></ion-icon>
                        <span class="nav_name">예비</span>

                        <ion-icon name="chevron-down-outline" class="collapse__link"></ion-icon>

                        <ul class="collapse__menu">
                            <a href="#" class="collapse__sublink">하위메뉴1</a>
                            <a href="#" class="collapse__sublink">하위메뉴2</a>
                            <a href="#" class="collapse__sublink">하위메뉴3</a>
                        </ul>
                    </div> -->

                </div>

                <a href="#" class="nav__link">
                    <ion-icon name="log-out" class="nav__icon"></ion-icon>
                    <span class="nav_name">Log out</span>
                </a>

                <hr>

                <div class="advertisement">
                    <img>
                </div>

            </div>
        </nav>
    </div>

</body>
<!-- IONICONS -->
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<!-- JS -->
<script src="text/javascript">
    //토글 방식으로 사이드바 생성하려고 하였으나, 펼쳐진 형태로 설계변경
    //추후 변경 시 재사용 위해 코드 주석처리
    /* CONTRACT MENU */
    // const showMenu = (toggleId, navbarId, bodyId) => {
    //     const toggle = document.getElementById(toggleId),
    //     navbar = document.getElementById(navbarId),
    //     bodypadding = document.getElementById(bodyId)

    //     if( toggle && navbar ) {
    //         toggle.addEventListener('click', ()=>{
    //             navbar.classList.toggle('contract');

    //             // bodypadding.classList.toggle('body-pd')
    //         })
    //     }
    // }

    // showMenu('nav-toggle', 'navbar', 'body-pd')
    // 사이드바 메뉴 드롭다운 기능
    /* COLLAPSE MENU */
    // const linkCollapse = document.getElementsByClassName('collapse__link')
    // var i

    // for(i=0;i<linkCollapse.length;i++) {
    //     linkCollapse[i].addEventListener('click', function(){
    //         const collapseMenu = this.nextElementSibling
    //         collapseMenu.classList.toggle('showCollapse')

    //         const rotate = collapseMenu.previousElementSibling
    //         rotate.classList.toggle('rotate')
    //     });
    // }
</script>

</html>