	div{
		display : block;
	}
	#navbar{
		position : fixed;
		top : 0;
	}
	#profile-form-box{
		margin-top : 60px;
        margin-left: 250px;
		padding : 0;
		width : 100%;	
	}
	#title{	
		position : fixed;
		margin-left : 50px;
		margin-top : 50px;
		width : 70%;
		height : 50px;
		text-align: left;
		font-weight: bold;
	}
	#profile-form{
		background-color : lightgray;
		width : 1200px;
		height : 600px;
		border : none;  
		display: flex;
    	justify-content: center; /* 가운데 정렬 */  
	}
	input[type='text']{
		border-radius: 5px;
		width : 145px;
		height : 30px;
		border : none;
		margin : 5px;
	}
    input[class='eAddr1']{
    	margin-top : 30px;
    	height : 40px;
    }
    input[class='eAddr2']{
    	height : 40px;
    	width : 210px;
    	margin-left: -60px;
    }
	.button-container{
		margin-right : 40px;
		margin-top : 30px;
		text-align: right;
	}
	input[type='button']{
		width : 200px;
		height : 50px;
		margin-left: 10px;
		color: white;
		font-weight: bold;
		border : none;
	}
	#saveBtn{
		background-color: #787DFF;
	}
	#closeBtn{
		background-color: #001383; 
	}
	#bank-select{
		margin-left : 30px;
		margin-top: 20px;
		margin-bottom : 5px;     
		height : 40px;
		width : 120px;
	}
	input[id='salAccount']{
		width : 210px;
		margin-left: -60px;
	}
	#profile-table1 {
		display: inline-block;
		vertical-align: top; /* 위쪽 정렬 */
		margin-left : 80px;
       	margin-right : 50px;
       	padding-top: 60px;
       	position: center;
    }
    #profile-table2 {
    	vertical-align: top; /* 위쪽 정렬 */
    	display: inline-block;
       	margin-left: 150px;
       	padding-top: 60px;
    }
    #profile-table1 input[type='text'] {
    	margin: 20px;
    }
    #profile-table2 input[class='hiredate']{
    	margin-top: 20px;
    	margin-bottom: 20px;
    }
    #profile-table2 input[class='deptname']{
    	margin-top: 20px;
    	margin-bottom: 20px;
   	}
   	#profile-table2 input[class='job']{
   		margin-top: 20px;
   		margin-bottom: 20px;
   	}
 	#profile-all{
 		width : 1000px;
 		margin-right: 0px;
 	}
 	#profile-img{
 		margin-top : 80px;
 		width : 302px;
 		height : 152px;
 		border : none;
 		margin-left: 100px;
 		background-color: #6BB9ED;
 		position: relative;
 	}
 	#img-white-line{
 		position:absolute;
 		width : 255.5px;
 		height: 60px;
 		border:none;
 		margin-left: 0;
 		background-color: white; 	
 		bottom: -60px;
 	}
 	#img-change{
 		color:blue;
 		margin-left: 20px;
 		margin-right : 60px;
 		text-align : left;
 		vertical-align: center; 
 		font-weight: bold;
 		line-height: 60px;
 	}
 	#img-save{
 		color : #4ABECA;
 	}
	#img-icon{
		margin-top: 50px;
		margin-left: 105px;
	}