<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.rainbow.company.employeeSupervisePage.mapper.loginMapper">

	<!-- 사원 로그인 -->
	<select id="doLogin" parameterType="java.util.HashMap" resultType="java.util.HashMap">
	
		SELECT deptNo, eno, eName, profilePicture FROM
			RAIN_EMP_tbl 
		WHERE 
			eId=#{eId} AND ePw=#{ePw}
			
	</select>
	
</mapper> 