<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.rainbow.company.employeeSupervisePage.mapper.searchEmployeeMapper">

	<!-- 전체 직원 리스트 -->
	<select id="getList" resultType="org.rainbow.company.employeeSupervisePage.domain.rain_employeeDTO">
	
    	SELECT 
    		e.eno, e.eName, e.email, e.ePhone, d.dName, e.job, e.hireDt, e.endDt, e.idStatus
    	FROM 
    		RAIN_EMP_tbl e
    	JOIN 
    		RAIN_DEPT_tbl d 
    	ON 
    		e.deptNo = d.deptNo
    	ORDER BY 
    		e.eno DESC 
    	LIMIT #{amount} OFFSET #{offset}
    	
	</select>
	
	<!-- 전체 직원 수 카운트 -->
	<select id="getTotal" resultType="int">
		SELECT count(*) FROM RAIN_EMP_tbl
	</select> 
	
        	<!-- d.dName AS dName, -->
	<!-- 직원 정보 조회  -->
	<select id="get" parameterType="int" resultType="org.rainbow.company.employeeSupervisePage.domain.rain_EmpVO">
			
		SELECT 
        	e.eno, e.deptNo, e.eName, e.email, e.ePhone, d.dName AS dName, e.eId, e.ePw,
        	CONCAT(SUBSTRING(e.identyNum, 1, 2), '년 ', SUBSTRING(e.identyNum, 3, 2), '월 ', SUBSTRING(e.identyNum, 5, 2), '일') AS identyNum, 
        	e.job, e.workType, e.sal, e.eAddr, e.eAddr2, e.eBank, e.salAccount, e.hireDt, e.endDt, e.idStatus
    	FROM 
        	RAIN_EMP_tbl e
    	JOIN 
        	RAIN_DEPT_tbl d 
        ON 
        	e.deptNo = d.deptNo
    	WHERE 
        	e.eno = #{eno}
				
	</select>
	
	<!-- 직원 정보 등록 -->
	<insert id="insert" parameterType="org.rainbow.company.employeeSupervisePage.domain.rain_EmpVO">
	
        	INSERT INTO RAIN_EMP_tbl ( deptNo, eName, ePhone, job, sal, email, eAddr, eAddr2, identyNum, salAccount, workType, idStatus, eBank, hireDt, endDt)
        		VALUES (
        			#{deptNo},
            		#{eName}, 
            		#{ePhone}, 
            		#{job}, 
            		#{sal}, 
            		#{email}, 
            		#{eAddr}, 
            		#{eAddr2}, 
            		#{identyNum}, 
            		#{salAccount}, 
           		 	#{workType}, 
            		#{idStatus}, 
            		#{eBank}, 
            		NOW(),
            		#{endDt}	
        	)
   
	</insert>
	
	<!-- 직원 정보 편집 -->
	<update id="update" parameterType="org.rainbow.company.employeeSupervisePage.domain.rain_EmpVO">
			UPDATE RAIN_EMP_tbl 
			SET 
    			deptNo = #{deptNo},
    			job = #{job}, 
    			sal = #{sal}, 
    			workType = #{workType}, 
    			idStatus = #{idStatus}, 
    			endDt = #{endDt}
			WHERE
    			eno = #{eno}
	</update>
	
</mapper>