<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.rainbow.company.employeeSupervisePage.mapper.searchEmployeeMapper">

	<!-- 전체 직원 리스트 -->
	<select id="getList" resultType="org.rainbow.company.employeeSupervisePage.domain.rain_employeeDTO">
	
    	SELECT e.eno, e.eName, e.email, e.ePhone, d.dName, e.job, e.hireDt, e.endDt, e.idStatus
    	FROM RAIN_EMP_tbl e
    	JOIN RAIN_DEPT_tbl d ON e.deptNo = d.deptNo
    	ORDER BY e.eno DESC
    	
	</select>
	
	<!-- 전체 직원 수 카운트 -->
	<select id="getTotal" resultType="int">
		SELECT count(*) FROM RAIN_EMP_tbl
	</select> 
	
	<!-- 직원 정보 조회  -->
	<select id="get" parameterType="int" resultType="org.rainbow.company.employeeSupervisePage.domain.get_employeeDTO">
		SELECT 
			e.eName, e.email, e.ePhone, CONCAT(SUBSTRING(e.identyNum, 1, 2), '년 ', SUBSTRING(e.identyNum, 3, 2), '월 ', SUBSTRING(e.identyNum, 5, 2), '일') AS identyNum, d.dName, e.job, e.workType, e.sal, e.eAddr, e.eBank, e.salAccount, e.hireDt, e.endDt, e.idStatus
		FROM 
			RAIN_EMP_tbl e
		JOIN 
			RAIN_DEPT_tbl d 
		ON 
			e.deptNo = d.deptNo
		WHERE 
			e.eno = #{e.eno}
	</select>
	
	<insert id="insert" parameterType="org.rainbow.company.employeeSupervisePage.domain.insert_employeeDTO">
		 <![CDATA[
        	INSERT INTO RAIN_EMP_tbl (eName, ePhone, job, sal, email, eAddr, eAddr2, identyNum, salAccount, workType, idStatus, eBank, hireDt, endDt, deptNo)
        		VALUES (
            		#{eName}, 
            		#{ePhone}, 
            		#{job}, 
            		#{sal}, 
            		#{email}, 
            		#{eAddr}, 
            		#{eAddr2}, 
            		#{identyNum}, 
            		#{salAccount}, 
           		 	#{workType}, 
            		#{idStatus}, 
            		#{eBank}, 
            		NOW(),
            		'',
            		CASE
                		WHEN #{dName} = '인사' THEN 1
                		WHEN #{dName} = '재무' THEN 2
                		WHEN #{dName} = '영업' THEN 3
                		WHEN #{dName} = '상품' THEN 4
                		WHEN #{dName} = '대표' THEN 0
            		END
        	)
    	]]>
    	
    	
		<!-- INSERT INTO RAIN_DEPT_tbl (DName)
		VALUES (
    		#{dName}
		) -->

	</insert>
	
</mapper>