@charset "UTF-8";

	body{
		margin : 0;
		padding : 0;
		
	}

	.navBar{
		position: fixed;
		width : 100%;
		top : 0;
		
	}

/* 변수 생성 */
:root {
  
  --bg-gray:#EEEEEE; 
  --blue:rgb(75, 91, 225);
  --basic-radius:3px;
  
}


.entire{
	width: 80%;

}


   
/** 타이틀 */

	.title h3{
		font-weight : bolder;
		
	}
	
	
	
/** ------------신규 영업 (리스트) 페이지 시작--*/

/** 서치바 */
.searchBar_div {
		
    	box-sizing: border-box;
    	background-color:var(--bg-gray);
    	
    	padding-bottom:10px;
	}

/** 서치바 테이블*/
.searchBar_tbl {
	table-layout: auto;
	table-layout: fixed;
	border: 6px solid var(--bg-gray);
	width: 100%;
	
}


.searchBar_tbl tr th {
	width:80px;
	background-color: var(--bg-gray);
	border: 6px solid var(--bg-gray);
	font-size: 15px;
	text-align: center;
	

}



.searchBar_tbl td{
	border: 6px solid var(--bg-gray);
	
}

.searchBar_tbl input[type="text"] {
	
	width:100%;
	border: none;
	
}

.searchBar_tbl input[type="date"] {
	border: none;
	width:130px;
	text-align: center;

}


#searchBar_selectBizSt{
	width:100%;
	border: none;
}

/** */
.searchBar_button_div {
	
	width:100%;
	text-align: right;
	box-sizing: border-box;
}



/** 서치바 검색 버튼*/
#searchBar_search_btn {
	
	background-color: var(--blue);
	color: rgb(255, 255, 255);
	border-color:var(--blue);
	border-radius: var(--basic-radius);
	border: 5px 10px 5px 10px;
	width: 80px;
	
	}
	
/** 서치바 초기화 버튼*/
#searchBar_reset_btn {
	background-color:rgb(255, 255, 255);
	color:var(--blue);
	border-color:rgb(255, 255, 255);
	border-radius: var(--basic-radius);
	border: 5px 10px 5px 10px;
	width: 80px;
	}
	
/** 엑셀로 내려받기 버튼 div*/	
.download_to_excel_btn_div {
	
    box-sizing: border-box;
	text-align: right;
	padding: 50px 5px 10px 5px;
}
	
/** 엑셀로 내려받기 버튼*/
#download_to_excel_btn {
	background-color: var(--blue);
	color: rgb(255, 255, 255);
	border-color:var(--blue);
	border-radius: var(--basic-radius);
	border: 5px 10px 5px 10px;
	width:140px;
}

/** 몇개씩 보기 div*/
.viewAFew_div {
	
    box-sizing: border-box;
    text-align:right;
    padding: 0px 5px 10px 5px;
	
}



/** 게시글 목록 div*/
.list_div {
	
	box-sizing: border-box;
	border : 5px solid var(--bg-gray);

}

.list_div_tbl {
	
	box-sizing: border-box;
	 
	border : 5px solid white;
	table-layout: auto;
	table-layout: fixed;
	width:100%;
}

.top_bar_of_list {

	box-sizing: border-box;
	text-align: center;
	background-color:var(--bg-gray);
	font-weight : bolder;
	margin:0px;
}

.list_div_tbl td{
	text-align: center;
	
}

.list_div_tbl tr th{
	text-align: center;
	
}



/** ------------신규 영업 (리스트) 페이지 끝--*/






/** ------------신규 영업 (상세보기) 페이지 시작-- */

.subject_content {
	box-sizing: border-box;
}



.tbl_subtitle {
	
	width:120px;
	background-color: var(--bg-gray);
	border: 6px solid var(--bg-gray);
	text-align: center;
	
	font-weight: bolder;
}





#inquiryDetails {
	text-align:left;
}

.subject_title {
	
	margin-top:30px;
	background-color : var(--bg-gray);
	height: 50px;
	padding-top:12px;
	
}


#selectBusinessCondition, #search_keword, #history, #searchEname, #FailureReasonsCmt, #selectFailureReasons{

	border: none;
	
	
	
	
}
#FailureReasonsCmt {
	width:100%;
}

input[type="date"] {
	border: none;
	
}

.subject_content_tbl {
	
	width: 100%;
	table-layout: fixed;
	border: 6px solid var(--bg-gray);
	

}
.subject_content_tbl tr th {
	width:120px;
	background-color: var(--bg-gray);
	border: 6px solid var(--bg-gray);
	text-align: center;
	font-size: 15px;
}
.subject_content_tbl td {
	
	background-color: var(--bg-gray);
	border: 6px solid var(--bg-gray);
	
}
#imgBtnMinus {
	box-sizing: border-box;
        background: url( "/resources/images/ul-minus-circle.svg" ) no-repeat;
        border: none;
      	  width: 30px;
        height: 30px;
        cursor: pointer;
        background-size: contain;
      }
 #imgBtnPlus {
 box-sizing: border-box;
        background: url( "/resources/images/ul-plus-circle.svg" ) no-repeat;
        border: none;
      	width: 30px;
        height: 30px;
        cursor: pointer;
        background-size: contain;
        margin-right:20px;
        
        
        
      }
#imgBtnSearchEname {
        background: url( "/resources/images/ul-search.svg" ) no-repeat;
        border: none;
      	  width: 25px;
        height: 25px;
        cursor: pointer;
        background-size: contain;
        margin-left:20px;
        
      }
.space_img_buttons {
	box-sizing: border-box;
	background-color: var(--bg-gray);
	padding-left: 1000px;
	
	
	
}
#saveBtn {
	
    box-sizing: border-box;
	width:120px;
	background-color: var(--blue);
	color: rgb(255, 255, 255);
	border-color:var(--blue);
	border-radius: var(--basic-radius);
	border: 5px 10px 5px 10px;
	
}
#insertBtn {
	
    box-sizing: border-box;
	width:120px;
	background-color: var(--blue);
	color: rgb(255, 255, 255);
	border-color:var(--blue);
	border-radius: var(--basic-radius);
	border: 5px 10px 5px 10px;
	
}
.button_div {
	width: var(--max-width);
    box-sizing: border-box;
	text-align: right;
	padding-top:50px;
}


input[type="text"],input[type="email"], textarea, select {
	border:none;
	text-align: center;
}


