<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.rainbow.company.ProductManagement.mapper.productPageMapper">
	
	<!-- productList   -->
	<select id="prdList" resultType="org.rainbow.company.ProductManagement.domain.productListVO">
	
	        SELECT *
			    FROM RAIN_Suppliers_tbl s, RAIN_Products_tbl p
			    where  p.supsNo = s.supsNo
			    
		
	</select>
	
	<select id="getSearch" parameterType="org.rainbow.domain.Criteria" resultType="org.rainbow.company.ProductManagement.domain.productListVO">
	      
	        SELECT *
			FROM RAIN_Products_tbl p, RAIN_Suppliers_tbl s
			WHERE p.supsNo = s.supsNo
			AND (
					prdNo = #{keyword} OR prdMajorCtg = #{keyword} OR prdSubCtg LIKE CONCAT('%', #{keyword}, '%') OR 
					prdName LIKE CONCAT('%', #{keyword}, '%') OR supsCo LIKE CONCAT('%', #{keyword}, '%')
				)
			ORDER BY prdNo ASC;
			
	</select>
	
	
	<!-- 엑셀 파일 리스트로 받아서 인서트  -->
	<insert id="insertPrdExcel" parameterType="org.rainbow.company.ProductManagement.domain.prdInputVO">
	    insert into RAIN_Products_tbl values
	    (
	        #{prdNo}, #{supsNo}, #{prdSdc}, #{prdTaxExSt},
	        #{prdMajorCtg}, #{prdSubCtg}, #{prdName}, #{prdCstPri},    
	        #{prdCstSup}, #{prdCstTax}, #{prdSal}, #{prdSalSup}, #{prdSalTax}, 
	        #{prdMargin}, #{prdSt}, #{prdImg}
	    )
	    on duplicate key update
	    prdNo = #{prdNo},
	    supsNo = #{supsNo},
	    prdSdc = #{prdSdc},
	    prdTaxExSt = #{prdTaxExSt},
	    prdMajorCtg = #{prdMajorCtg},
	    prdSubCtg = #{prdSubCtg},
	    prdName = #{prdName},
	    prdCstPri = #{prdCstPri},
	    prdCstSup = #{prdCstSup},
	    prdCstTax = #{prdCstTax},
	    prdSal = #{prdSal},
	    prdSalSup = #{prdSalSup},
	    prdSalTax = #{prdSalTax},
	    prdMargin = #{prdMargin},
	    prdSt = #{prdSt},
	    prdImg = #{prdImg}
	</insert>

	
	<!-- 동적으로  체크 박스 벨류 받아서 리스트 구해오기-->
	    <!-- 

	    <foreach item="item" collection="checkValues" open="(" separator="," close=")">
	        <if test="item != '상품권' and item != '현물' and item != '판매중' and item != '일시품절' and item != '단종'">
	            AND  prdNo = #{item} OR prdMajorCtg = #{item} OR prdSubCtg LIKE CONCAT('%', #{item}, '%') OR 
	                 prdName LIKE CONCAT('%', #{item}, '%') OR supsCo LIKE CONCAT('%', #{item}, '%')
	        </if>
	    </foreach> -->
	    
		<select id="downExcelList" parameterType="org.rainbow.company.calculateManagement.domain.TradeDetailSearchDTO" resultType="org.rainbow.company.ProductManagement.domain.prdDownVO">
		  	SELECT s.supsCo, p.prdNo, p.prdSdc, p.prdMajorCtg, p.prdSubCtg, p.prdName, p.prdCstPri, p.prdSal, p.prdMargin, p.prdImg
			FROM RAIN_Products_tbl p, RAIN_Suppliers_tbl s
			WHERE s.supsNo = p.supsNo 
			AND p.prdMajorCtg IN
			<foreach item="item" collection="checkedValues" open="(" separator="," close=")">
			    #{item}
			</foreach>
			AND p.prdSt IN
			<foreach item="item" collection="checkedValues" open="(" separator="," close=")">
			    #{item}
			</foreach>
			<if test="keyword != null and keyword != ''">
			    AND (
			        p.prdNo = '${keyword}' 
			        OR s.supsCo LIKE '%${keyword}%' 
			        OR p.prdMajorCtg LIKE '%${keyword}%'
			        OR p.prdSubCtg LIKE '%${keyword}%'
			        OR p.prdName LIKE '%${keyword}%'
			    )
			</if>


		</select>

	
	<!--  
		foreach 마이바티스 반복
		item 변수 이름
		collection="ex)checkValues" 반복할 리스트 지정
		open="(" separator="," close=")" 시작 , 구분자 , 끝 부분 지정
		지금 쿼리 같은경우 
		<foreach item="item" collection="checkValues"> 이런식으로
		기본값을 넣어도 동작하는데 문제없는것 같다. // x 다써줘야 된다.
		
		SELECT s.supsCo, p.prdNo, p.prdSdc, p.prdMajorCtg, p.prdSubCtg, p.prdName, p.prdCstPri, p.prdSal, p.prdMargin, p.prdImg
		FROM RAIN_Products_tbl p, RAIN_Suppliers_tbl s
		WHERE s.supsNo = p.supsNo
		AND p.prdMajorCtg IN ('value1', 'value2', 'value3')
		AND p.prdSt IN ('value1', 'value2', 'value3') 기존코드 
	-->
	<!-- supsNo 가졍오기  -->
	<select id="getsupsNumber" resultType="String" parameterType="String">
		select DISTINCT supsNo from RAIN_Suppliers_tbl
		where supsNo = #{code}
	</select>
		
	<!-- prdSubCtg 가져오기  -->
	<select id="getSubCtg" resultType="org.rainbow.company.ProductManagement.domain.prdInputVO">
		select DISTINCT prdSubCtg from RAIN_Products_tbl
	</select>
	
	<!-- 상품 개별 등록 -->
	<insert id="productInput">
	   insert into RAIN_Products_tbl 
	   values
	   (
	   		#{prdNo}, #{supsNo}, #{prdSdc}, #{prdTaxExSt}, #{prdMajorCtg}, #{prdSubCtg}, #{prdName}, #{prdCstPri}, 
	   		#{prdCstSup}, 
	   		<if test="prdCstTax != null">
	   			#{prdCstTax}
	   		</if>
	   		<if test="prdCstTax == null">
	   			0,
	   		</if>
	   		#{prdSal}, #{prdSalSup}, 
	   		<if test="prdSalTax != null">
	   			#{prdSalTax}
	   		</if>
	   		<if test="prdSalTax == null">
	   			0,
	   		</if>
	   		#{prdMargin}, #{prdSt}, #{prdImg}
	   )
	   
	</insert>
	
	<!-- 수정창 이동시 vo 가져가기  -->
	<select id="getprdVo" parameterType="String" resultType="org.rainbow.company.ProductManagement.domain.prdInputVO">
		select * from RAIN_Products_tbl where prdNo = #{prdNo}
	</select>
	
	<!-- 상품 수정  -->
	<update id="prdUpdate">
		 update RAIN_Products_tbl
		    set supsNo = #{supsNo}, 
		        prdSdc = #{prdSdc}, 
		        prdTaxExSt = #{prdTaxExSt}, 
		        prdMajorCtg = #{prdMajorCtg}, 
		        prdSubCtg = #{prdSubCtg},
		        prdName = #{prdName}, 
		        prdCstPri = #{prdCstPri},
		        prdCstSup = #{prdCstSup}, 
		    <if test="prdCstTax != null">  
		        prdCstTax = #{prdCstTax}, 
		    </if>    
		    <if test="prdCstTax == null">  
		        prdCstTax = 0,
		    </if>    
		        prdSal = #{prdSal}, 
		        prdSalSup = #{prdSalSup},
		       
		     <if test="prdSalTax != null">  
		        prdSalTax = #{prdSalTax},
		    </if>    
		    <if test="prdSalTax == null">  
		        prdSalTax = 0,
		    </if>       
		        prdMargin = #{prdMargin}, 
		        prdSt = #{prdSt},
		    <if test="prdImg != null">  
		        prdImg = #{prdImg}
		    </if>    
		    <if test="prdImg == null">  
		        prdSalTax = ''
		    </if>     
		        
	    where prdNo = #{prdNo}
	</update>
	
	<!-- 상품 삭제 -->
	<delete id="prdDelete">
		delete from RAIN_Products_tbl where prdNo = #{prdNo}
	</delete>
	
	

	<!-- 공급처 시작 -->
	<!--공급처 리스트   -->
	<select id="supsList" resultType="org.rainbow.company.ProductManagement.domain.suppliersVO">
				SELECT *
			    FROM RAIN_Suppliers_tbl
			    order by supsNo asc
	</select>
	<!-- 공급처 리스트 검색  -->
	<select id="supsSearch"  resultType="org.rainbow.company.ProductManagement.domain.suppliersVO">
	      
	        SELECT *
			FROM RAIN_Suppliers_tbl
			WHERE
			supsNo = #{keyword} OR supsCo LIKE CONCAT('%', #{keyword}, '%') OR supsCt = #{keyword}
			ORDER BY supsNo ASC;
			
	</select>
	<!-- 엑셀 파일 리스트로 받아서 인서트  -->
	<insert id="insertSupsExcel" parameterType="java.util.Map">
	    insert into RAIN_Suppliers_tbl
	    (supsNo, supsCo, supsBnt, supsBizRegNum, supsAddr, supsBizLic, supsCoEmail, supsCt, supsSt, supsName, supsPhone, supsEmail, supsSubName, supsSubPhone, supsSubEmail)
	    values
	    (
	        #{supsNo}, #{supsCo}, #{supsBnt}, #{supsBizRegNum},
	        #{supsAddr}, #{supsBizLic}, #{supsCoEmail}, #{supsCt},
	        #{supsSt}, #{supsName}, #{supsPhone}, #{supsEmail},
	        <if test="supsSubName != null">
	            #{supsSubName},
	            #{supsSubPhone},
	            #{supsSubEmail}
	        </if>
	        <if test="supsSubName == null">
	            '', '', ''
	        </if>
	    )
	</insert>
	
	<!-- 동적으로  체크 박스 벨류 받아서 리스트 구해오기-->
	<select id="supsExcelDown" parameterType="org.rainbow.company.calculateManagement.domain.TradeDetailSearchDTO" resultType="org.rainbow.company.ProductManagement.domain.supsDownVO">
	        SELECT supsNo, supsCo, supsBnt, supsBizRegNum, supsAddr, supsCt, supsCoEmail, supsSt
		    FROM  RAIN_Suppliers_tbl
		    WHERE 1 = 1
		    AND supsBnt IN
	    <foreach item="item" collection="checkedValues" open="(" separator="," close=")">
	        #{item}
	    </foreach>
	   		AND supsSt IN
	    <foreach item="item" collection="checkedValues" open="(" separator="," close=")">
	        #{item}
	    </foreach>
   		<if test="keyword != null and keyword != ''">
		        AND (
		            supsNo = '${keyword}' 
		            OR supsCo LIKE '%${keyword}%' 
		            OR supsCt = '%${keyword}%'
		        )
	    </if>
	</select>


	<!-- 공급처 등록수 카운팅  -->	
	<select id="supsNoCount" resultType="int">
		SELECT count(*) from RAIN_Suppliers_tbl;
	</select>
	
	<!-- 공급처 등록 reg  -->
	<insert id="insertSups" parameterType="org.rainbow.company.ProductManagement.domain.suppliersVO">
	    insert into RAIN_Suppliers_tbl
	    (supsNo, supsCo, supsBnt, supsBizRegNum, supsAddr, supsBizLic, supsCoEmail, supsCt, supsSt, supsName, supsPhone, supsEmail, supsSubName, supsSubPhone, supsSubEmail)
	    values
	    (
	        #{supsNo}, #{supsCo}, #{supsBnt}, #{supsBizRegNum},
	        #{supsAddr}, #{supsBizLic}, #{supsCoEmail}, #{supsCt},
	        #{supsSt}, #{supsName}, #{supsPhone}, #{supsEmail},
	        <if test="supsSubName != null">
	            #{supsSubName},
	            #{supsSubPhone},
	            #{supsSubEmail}
	        </if>
	        <if test="supsSubName == null">
	            '', '', ''
	        </if>
	    )
	</insert>
	
	<!-- 공급처 수정 기존정보 가져오기 -->
	<select id="getSupsVO" parameterType="String" resultType="org.rainbow.company.ProductManagement.domain.suppliersVO">
		select * from RAIN_Suppliers_tbl where supsNo = #{supsNo}  
	</select>	
	
	<!--공급처 수정 -->
	<update id="supsUpdate" parameterType="org.rainbow.company.ProductManagement.domain.suppliersVO">
	    update RAIN_Suppliers_tbl
	    set supsCo = #{supsCo}, 
	        supsAddr = #{supsAddr}, 
	        supsBnt = #{supsBnt}, 
	        supsBizRegNum = #{supsBizRegNum}, 
	        supsBizLic = #{supsBizLic},
	        supsCoEmail = #{supsCoEmail}, 
	        supsCt = #{supsCt},
	        supsName = #{supsName}, 
	        supsPhone = #{supsPhone}, 
	        supsEmail = #{supsEmail}, 
	        supsSt = #{supsSt},
	        supsSubName = #{supsSubName}, 
	        supsSubPhone = #{supsSubPhone}, 
	        supsSubEmail = #{supsSubEmail}
    where supsNo = #{supsNo}
	</update>
	
	
	<!--공급처 삭제 -->
	<delete id="supsDelete" parameterType="org.rainbow.company.ProductManagement.domain.suppliersVO">
		delete from RAIN_Suppliers_tbl where supsNo = #{supsNo}
	</delete>
	
	
</mapper>
