<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="org.rainbow.company.custMgmt.mapper.salesMapper">
 
 	<!-- 상담 요청 리스트 가져오기-->
	<select id="salesList" resultType="org.rainbow.company.custMgmt.domain.consultVO">
	   
	    SELECT *
	    FROM RAIN_consult_tbl ORDER by consultNo DESC
	   
	</select>
 
   <!-- 서치바 - 키워드 검색 결과 가져오기 -->
	
	<select id="searchConsult" resultType="org.rainbow.company.custMgmt.domain.consultVO" parameterType="org.rainbow.company.custMgmt.domain.consultSearchDTO">
   SELECT consultNo, csDate, csCompanyName, csName, csContact, csEmail, csBdgt, csStatus, csEname
   FROM RAIN_consult_tbl
   WHERE 1 = 1

   <if test="keyword != null and keyword != ''">
      AND (
         csCompanyName = '${keyword}' 
         OR csName LIKE CONCAT('%', #{keyword}, '%')
         OR csEmail = '${keyword}'
         OR csEname = '${keyword}' 
      )
   </if>
   <if test="firDate != null and secDate != null">
      AND csDate BETWEEN #{firDate} AND #{secDate}
   </if>
</select>


	 <!-- 상담 요청 내용 가져오기-->
	  <select id="salesView" resultType="org.rainbow.company.custMgmt.domain.consultVO" parameterType="int">
	  	select * from RAIN_consult_tbl where consultNo=#{consultNo}
	  </select>
	  
 	<!-- 영업 히스토리 내용 가져오기 -->
	  <select id="getCshVO" resultType="org.rainbow.company.custMgmt.domain.cshVO" parameterType="int">
	  	select * from RAIN_consultHistory_tbl where consultNo=#{consultNo}
	  </select>
 
	<!-- 영업 내용 저장(수정)하기 -->
	<update id="saveSales" parameterType="org.rainbow.company.custMgmt.domain.consultAndCshVO">
	    UPDATE RAIN_consult_tbl
	    SET 
	    csStatus = #{csStatus},
	    csEname = #{csEname},
	    csResponseDate = #{csResponseDate},
	    <!-- csFailReason과 csFailDetailReason가 모두 존재하는 경우에만 업데이트 -->
	    <if test="csFailReason != null and csFailDetailReason != null">
	        csFailReason = #{csFailReason},
	        csFailDetailReason = #{csFailDetailReason}
	    </if>
	    WHERE consultNo = #{consultNo}
	</update>
  	
  <!-- 영업 히스토리 내용 저장하기 -->
	<insert id="insertCsh" parameterType="java.util.Map">
	    INSERT INTO RAIN_consultHistory_tbl (consultNo, cshDate1, cshContent1, cshDate2, cshContent2, cshDate3, cshContent3, cshDate4, cshContent4, cshDate5, cshContent5)
	    VALUES (
	    #{vo.consultNo}, 
	    <if test="vo.cshDate1 != null and vo.cshContent1 != null">
	        #{vo.cshDate1}, #{vo.cshContent1},
	    </if>
	    <if test="vo.cshDate2 != null and vo.cshContent2 != null">
	        #{vo.cshDate2}, #{vo.cshContent2},
	    </if>
	    <if test="vo.cshDate3 != null and vo.cshContent3 != null">
	        #{vo.cshDate3}, #{vo.cshContent3},
	    </if>
	    <if test="vo.cshDate4 != null and vo.cshContent4 != null">
	        #{vo.cshDate4}, #{vo.cshContent4},
	    </if>
	    <if test="vo.cshDate5 != null and vo.cshContent5 != null">
	        #{vo.cshDate5}, #{vo.cshContent5},
	    </if>
	    NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL
	    )
	</insert>
	
	
	
	  <!-- 영업 히스토리 내용 수정하기 -->
	<update id="updateCsh" parameterType="java.util.Map">
    UPDATE RAIN_consultHistory_tbl
    SET
    <if test="vo.cshDate1 != null and vo.cshContent1 != null">
        cshDate1 = #{vo.cshDate1}, cshContent1 = #{vo.cshContent1},
    </if>
    <if test="vo.cshDate2 != null and vo.cshContent2 != null">
        cshDate2 = #{vo.cshDate2}, cshContent2 = #{vo.cshContent2},
    </if>
    <if test="vo.cshDate3 != null and vo.cshContent3 != null">
        cshDate3 = #{vo.cshDate3}, cshContent3 = #{vo.cshContent3},
    </if>
    <if test="vo.cshDate4 != null and vo.cshContent4 != null">
        cshDate4 = #{vo.cshDate4}, cshContent4 = #{vo.cshContent4},
    </if>
    <if test="vo.cshDate5 != null and vo.cshContent5 != null">
        cshDate5 = #{vo.cshDate5}, cshContent5 = #{vo.cshContent5},
    </if>
    WHERE consultHistoryNo = #{vo.consultHistoryNo}
</update>





	
	 <!-- 기업명 찾기 모달창 : 기업 리스트 가져오기 -->
	<select id="searchCompanyListModal" resultType="org.rainbow.company.custMgmt.domain.consultVO">
	    SELECT cs.csCompanyName
	    FROM RAIN_cCompany_tbl com
	    INNER JOIN RAIN_consult_tbl cs 
	    WHERE cs.csStatus = '계약 완료' AND com.comName IS NULL
	</select>
 	
 	
 	 <!-- 기업명 찾기(모달창)에서 기업명 검색 기능 -->
	<select id="searchModalComName" resultType="org.rainbow.company.custMgmt.domain.consultVO" parameterType="string">
		SELECT cs.csCompanyName
		FROM RAIN_cCompany_tbl com
		INNER JOIN RAIN_consult_tbl cs 
		WHERE cs.csStatus = '계약 완료' AND com.comName IS NULL AND cs.csCompanyName LIKE CONCAT('%', #{companyName}, '%')

	</select>
	
	 	 <!-- 담당자명  모달창 에서 담당자 리스트 가져오기 -->
	<select id="takeCsNameList" resultType="org.rainbow.company.custMgmt.domain.consultVO">
		SELECT cs.csCompanyName, cs.csName
		FROM RAIN_consult_tbl cs
		INNER JOIN RAIN_cCompany_tbl com 
		WHERE cs.csStatus = '계약 완료' AND com.comName IS NULL

	</select>
	
	 	 <!-- 담당자명  모달창 에서 검색한 담당자명 가져오기 -->
	<select id="searchTakeCsName" resultType="org.rainbow.company.custMgmt.domain.consultVO" parameterType="string">
		SELECT cs.csCompanyName, cs.csName
		FROM RAIN_consult_tbl cs
		INNER JOIN RAIN_cCompany_tbl com 
		WHERE cs.csStatus = '계약 완료' AND com.comName IS NULL AND cs.csName LIKE CONCAT('%', #{csName}, '%')

	</select>
	
	
 	
 
 </mapper>