<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.rainbow.company.calculateManagement.mapper.TradeDetailMapper">

    <!-- 계산서 발행 페이지 - 내역 조회 -->
	<select id="tradeDetailList" resultType="org.rainbow.company.calculateManagement.domain.TradeDetailListVO">        
        
       	SELECT a.recNo, c.comName, c.comBizType, b.spName, c.companyNo, b.spotNo,
               a.recDate, a.recSum, a.recSup, a.recTax, e.prdCstPri, e.prdMargin, a.recPayMth, a.recSortation
        FROM RAIN_receipt_tbl a    
        JOIN RAIN_cSpot_tbl b ON a.spotNo = b.spotNo
        JOIN RAIN_cCompany_tbl c ON b.companyNo = c.companyNo
        JOIN RAIN_order_tbl d ON  a.ordNo = d.ordNo
        JOIN RAIN_Products_tbl e ON d.prdNo = e.prdNo
        
    </select>
    
    <!-- 거래 명세 검색  -->
    <select id="searchTd" parameterType="org.rainbow.company.calculateManagement.domain.TradeDetailSearchDTO" resultType="org.rainbow.company.calculateManagement.domain.TradeDetailListVO">
    	
    SELECT 
    a.recNo, c.comName, c.comBizType, b.spName, 
    a.recDate, a.recSum, a.recSup, a.recTax, 
    e.prdCstPri, e.prdMargin, a.recPayMth, a.recSortation, 
    c.companyNo, b.spotNo
	FROM 
    RAIN_receipt_tbl a    
    JOIN RAIN_cSpot_tbl b ON a.spotNo = b.spotNo
    JOIN RAIN_cCompany_tbl c ON b.companyNo = c.companyNo
    JOIN RAIN_order_tbl d ON a.ordNo = d.ordNo
    JOIN RAIN_Products_tbl e ON d.prdNo = e.prdNo
	WHERE
    1 = 1
    <if test="recPayMth != null and recPayMth != '전체' ">
        AND a.recPayMth = '${recPayMth}' 
    </if>
    <if test="keyword != null and keyword != ''">
        AND (
            a.recNo = '${keyword}' 
            OR c.comName LIKE '%${keyword}%' 
            OR b.spName LIKE '%${keyword}%'
        )
    </if>
    <if test="firDate != null and secDate != null">
        AND STR_TO_DATE(a.recDate, '%Y-%m-%d') BETWEEN '${firDate}' AND '${secDate}'
    </if>

    </select>
    
    
    <!-- 결제처리  -->
    <update id="paymentProcessing" parameterType="java.util.List">
		  	update RAIN_receipt_tbl
		    set recSortation = '결제완료'
		    where recNo IN
		    <foreach item="item" collection="list" open="(" separator="," close=")">
		        #{item}
		    </foreach>
	</update>    
    
    <!-- 대손처리 -->
    <update id="bigHandProcessing" parameterType="java.util.List">
		  	update RAIN_receipt_tbl
		    set recSortation = '대손처리'
		    where recNo IN
		    <foreach item="item" collection="list" open="(" separator="," close=")">
		        #{item}
		    </foreach>
	</update>
    
    <!-- 체크박스로 받을 리스트만 출력  -->
   <select id="tdDownList" parameterType="java.util.List" resultType="org.rainbow.company.calculateManagement.domain.tdDownVO">
   		SELECT a.recNo, c.comName, c.comBizType, b.spName,
               a.recDate, a.recSum, a.recSup, a.recTax, e.prdCstPri, e.prdMargin, a.recPayMth, a.recSortation
        FROM RAIN_receipt_tbl a    
        JOIN RAIN_cSpot_tbl b ON a.spotNo = b.spotNo
        JOIN RAIN_cCompany_tbl c ON b.companyNo = c.companyNo
        JOIN RAIN_order_tbl d ON  a.ordNo = d.ordNo
        JOIN RAIN_Products_tbl e ON d.prdNo = e.prdNo
        where c.comBizType IN
		    <foreach item="item" collection="list" open="(" separator="," close=")">
		        #{item}
		    </foreach>
		AND a.recSortation IN
		    <foreach item="item" collection="list" open="(" separator="," close=")">
		        #{item}
		    </foreach>  
   </select> 
    <!-- 거래명세 편집 들고갈 정보  -->
    <select id="editTdList" resultType="org.rainbow.company.calculateManagement.domain.TradeDetailEditVO">
    	SELECT c.comName, b.spName, c.comBizType, f.cEmpName, f.cEmpTel, f.cEmpEmail, a.recDate, a.recPayMth, a.recSortation,
        e.prdMajorCtg, e.prdSubCtg, e.prdNo, e.prdName, e.prdSal, e.prdCstPri, e.prdMargin,
        a.recDedName, a.recDedPrdCode, a.recDed, a.recDedSup, a.recDedTax, a.recDedCst, a.recDedCstSup, a.recDedCstTax,    
        a.recAddName, a.recAddPrdCode, a.recAdd, a.recAddSup, a.recAddTax, a.recAddCst, a.recAddCstSup, a.recAddCstTax        
        FROM RAIN_receipt_tbl a    
        JOIN RAIN_cSpot_tbl b ON a.spotNo = b.spotNo
        JOIN RAIN_cCompany_tbl c ON b.companyNo = c.companyNo
        JOIN RAIN_order_tbl d ON  a.ordNo = d.ordNo
        JOIN RAIN_Products_tbl e ON d.prdNo = e.prdNo
        JOIN RAIN_cEMP_tbl f ON f.cEepNo = d.cEmpNo
        WHERE a.recNo = #{recNo}
    </select>
    
    <update id="editTdupdate" parameterType="org.rainbow.company.calculateManagement.domain.TradeDetailEditVO">
    	UPDATE RAIN_receipt_tbl
		SET 
		    recDedName = #{recDedName},
		    recDed = #{recDed},
		    recDedSup = #{recDedSup},
		    recDedTax = #{recDedTax},
		    recDedCst = #{recDedCst},
		    recDedCstSup = #{recDedCstSup},
		    recDedCstTax = #{recDedCstTax},
		    recDedWorker = #{recDedWorker},
		    
		    recAddName = #{recAddName},
		    recAdd = #{recAdd},
		    recAddSup = #{recAddSup},
		    recAddTax = #{recAddTax},
		    recAddWorker = #{recAddWorker},
		    recAddCst = #{recAddCst},
		    recAddCstSup = #{recAddCstSup},
		    recAddCstTax = #{recAddCstTax},
		    recAddWorker = #{recAddWorker}
		    
		WHERE recNo = #{recNo}

    </update>
    
    
    
    
    
    <!-- 거래미수 기업 연결 아직안함 -->
    <select id="misuCom" resultType="org.rainbow.company.calculateManagement.domain.TradeDetailListVO">
    	 SELECT c.companyNo, c.comName, c.comBizType, a.recSum, a.recSup, a.recTax, e.prdCstPri, e.prdMargin, a.recPayMth, a.recSortation
         FROM RAIN_receipt_tbl a
         JOIN RAIN_cSpot_tbl b ON a.spotNo = b.spotNo
         JOIN RAIN_cCompany_tbl c ON b.companyNo = c.companyNo	
         JOIN RAIN_order_tbl d ON  a.ordNo = d.ordNo
         JOIN RAIN_Products_tbl e ON d.prdNo = e.prdNo
    </select>
    
    <!--거래미수 지점 연결 안함  -->
    <select id="misugeejum">
    	SELECT a.recNo, c.comName, c.comBizType, b.spName, a.recDate, a.recSum, a.recSup, a.recTax, e.prdCstPri, e.prdMargin, a.recPayMth, a.recSortation
        FROM RAIN_receipt_tbl a
        JOIN RAIN_cSpot_tbl b ON a.spotNo = b.spotNo
        JOIN RAIN_cCompany_tbl c ON b.companyNo = c.companyNo	
        JOIN RAIN_order_tbl d ON  a.ordNo = d.ordNo
        JOIN RAIN_Products_tbl e ON d.prdNo = e.prdNo
    </select>
   
    <!--명세서기준 똑같은데 ? 미수 지점 연결 안함  -->
    <select id="misuTradeDetail">
    	SELECT a.recNo, c.comName, c.comBizType, b.spName, a.recDate, a.recSum, a.recSup, a.recTax, e.prdCstPri, e.prdMargin, a.recPayMth, a.recSortation
        FROM RAIN_receipt_tbl a
        JOIN RAIN_cSpot_tbl b ON a.spotNo = b.spotNo
        JOIN RAIN_cCompany_tbl c ON b.companyNo = c.companyNo	
        JOIN RAIN_order_tbl d ON  a.ordNo = d.ordNo
        JOIN RAIN_Products_tbl e ON d.prdNo = e.prdNo
    </select>
    
    
    
    
    
</mapper>
