<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.rainbow.company.calculateManagement.mapper.TradeDetailMapper">

    <!-- 계산서 발행 페이지 - 내역 조회 -->
	<select id="tradeDetailList" resultType="org.rainbow.company.calculateManagement.domain.TradeDetailListVO">        
        
        SELECT a.recNo, e.comName, e.comBizType, d.spName, d.companyNo, d.spotNo,
               a.recDate, a.recSum, a.recSup, a.recTax, f.prdCstPri, f.prdMargin, a.recPayMth, a.recSortation, a.recDed, a.recAdd, a.recDedSup, a.recAddSup,
               a.recDedTax, a.recAddTax
        FROM RAIN_receipt_tbl a    
        JOIN RAIN_order_tbl b ON a.ordNo = b.ordNo
        JOIN RAIN_cEMP_tbl c ON  b.cEmpNo = c.cEmpNo
        JOIN RAIN_cSpot_tbl d ON c.spotNo = d.spotNo
        JOIN RAIN_cCompany_tbl e ON e.companyNo =  d.companyNo
        LEFT JOIN RAIN_Products_tbl f ON b.prdNo = f.prdNo
        
    </select>
    
    <!-- 거래 명세 검색  -->
    <select id="searchTd" parameterType="org.rainbow.company.calculateManagement.domain.TradeDetailSearchDTO" resultType="org.rainbow.company.calculateManagement.domain.TradeDetailListVO">
    	
    SELECT a.recNo, e.comName, e.comBizType, d.spName, d.companyNo, d.spotNo,
           a.recDate, a.recSum, a.recSup, a.recTax, f.prdCstPri, f.prdMargin, a.recPayMth, a.recSortation, a.recDed, a.recAdd, a.recDedSup, a.recAddSup,
           a.recDedTax, a.recAddTax
    FROM RAIN_receipt_tbl a    
    JOIN RAIN_order_tbl b ON a.ordNo = b.ordNo
    JOIN RAIN_cEMP_tbl c ON  b.cEmpNo = c.cEmpNo
    JOIN RAIN_cSpot_tbl d ON c.spotNo = d.spotNo
    JOIN RAIN_cCompany_tbl e ON e.companyNo =  d.companyNo
    LEFT JOIN RAIN_Products_tbl f ON b.prdNo = f.prdNo
	WHERE
    1 = 1
    <if test="recPayMth != null and recPayMth != '전체' ">
        AND a.recPayMth = '${recPayMth}' 
    </if>
    <if test="keyword != null and keyword != ''">
        AND (
            a.recNo = '${keyword}' 
            OR e.comName LIKE '%${keyword}%' 
            OR d.spName LIKE '%${keyword}%'
        )
    </if>
    <if test="firDate != null and secDate != null">
        AND STR_TO_DATE(a.recDate, '%Y-%m-%d') BETWEEN '${firDate}' AND '${secDate}'
    </if>

    </select>
    
    
    <!-- 결제처리  -->
    <update id="paymentProcessing" parameterType="java.util.List">
		  	update RAIN_receipt_tbl
		    set recSortation = '결제완료'
		    where recNo IN
		    <foreach item="item" collection="list" open="(" separator="," close=")">
		        #{item}
		    </foreach>
	</update>    
    
    <!-- 대손처리 -->
    <update id="bigHandProcessing" parameterType="java.util.List">
		  	update RAIN_receipt_tbl
		    set recSortation = '대손처리'
		    where recNo IN
		    <foreach item="item" collection="list" open="(" separator="," close=")">
		        #{item}
		    </foreach>
	</update>
    
    <!-- 체크박스로 받을 리스트만 출력(수정 검색어 까지 꼳아옴  -->
    <select id="tdDownList" parameterType="org.rainbow.company.calculateManagement.domain.TradeDetailSearchDTO" resultType="org.rainbow.company.calculateManagement.domain.tdDownVO">
   		    SELECT a.recNo, e.comName, e.comBizType, d.spName, d.companyNo, d.spotNo,
                   a.recDate, a.recSum, a.recSup, a.recTax, f.prdCstPri, f.prdMargin, a.recPayMth, a.recSortation, a.recDed, a.recAdd
		    FROM RAIN_receipt_tbl a    
		    JOIN RAIN_order_tbl b ON a.ordNo = b.ordNo
		    JOIN RAIN_cEMP_tbl c ON  b.cEmpNo = c.cEmpNo
		    JOIN RAIN_cSpot_tbl d ON c.spotNo = d.spotNo
		    JOIN RAIN_cCompany_tbl e ON e.companyNo =  d.companyNo
		    LEFT JOIN RAIN_Products_tbl f ON b.prdNo = f.prdNo
			WHERE
		    1 = 1
		    and e.comBizType IN
		    <foreach item="item" collection="checkedValues" open="(" separator="," close=")">
		        #{item}
		    </foreach>
			AND a.recSortation IN
		    <foreach item="item" collection="checkedValues" open="(" separator="," close=")">
		        #{item}
		    </foreach>
		    <if test="recPayMth != null and recPayMth != '전체' ">
		        AND a.recPayMth = '${recPayMth}' 
		    </if>
		    <if test="keyword != null and keyword != ''">
		        AND (
		            e.companyNo = '${keyword}' 
		            OR e.comName LIKE '%${keyword}%'
		        )
		    </if>
		    <if test="firDate != null and secDate != null">
		        AND STR_TO_DATE(a.recDate, '%Y-%m-%d') BETWEEN '${firDate}' AND '${secDate}'
		    </if>  
		ORDER BY a.recNo
   </select> 
   
    <!-- 거래명세 편집 들고갈 정보  -->
    <select id="editTdList" resultType="org.rainbow.company.calculateManagement.domain.TradeDetailEditVO">
    	SELECT e.comName, d.spName, e.comBizType, c.cEmpName, c.cEmpTel, c.cEmpEmail, a.recDate, a.recPayMth, a.recSortation,
        f.prdMajorCtg, f.prdSubCtg, f.prdNo, f.prdName, f.prdSal, f.prdCstPri, f.prdMargin, b.ordNo,
        a.recDedName, a.recDedPrdCode, a.recDed, a.recDedSup, a.recDedTax, a.recDedCst, a.recDedCstSup, a.recDedCstTax, a.recDedWorker, a.recDedPrdCode,   
        a.recAddName, a.recAddPrdCode, a.recAdd, a.recAddSup, a.recAddTax, a.recAddCst, a.recAddCstSup, a.recAddCstTax, a.recAddWorker, a.recAddPrdCode      
        FROM RAIN_receipt_tbl a    
        JOIN RAIN_order_tbl b ON a.ordNo = b.ordNo
        JOIN RAIN_cEMP_tbl c ON  b.cEmpNo = c.cEmpNo
        JOIN RAIN_cSpot_tbl d ON c.spotNo = d.spotNo
        JOIN RAIN_cCompany_tbl e ON e.companyNo =  d.companyNo
        LEFT JOIN RAIN_Products_tbl f ON b.prdNo = f.prdNo
        WHERE a.recNo = #{recNo}
    </select>
    
    <!-- 거래 명세 편집  -->
    <update id="editTdupdate" parameterType="org.rainbow.company.calculateManagement.domain.TradeDetailEditVO">
    	UPDATE RAIN_receipt_tbl
		SET 
			recPayMth = #{recPayMth},
			recSortation = #{recSortation},
			recSum = #{prdSal},
			recSup = #{prdSal},

		    recDedName = #{recDedName},
		    recDed = #{recDed},
		    recDedSup = #{recDedSup},
		    recDedTax = #{recDedTax},
		    recDedCst = #{recDedCst},
		    recDedCstSup = #{recDedCstSup},
		    recDedCstTax = #{recDedCstTax},
		    recDedWorker = #{recDedWorker},
		    recDedPrdCode = #{recDedPrdCode},
		    
		    recAddName = #{recAddName},
		    recAdd = #{recAdd},
		    recAddSup = #{recAddSup},
		    recAddTax = #{recAddTax},
		    recAddWorker = #{recAddWorker},
		    recAddCst = #{recAddCst},
		    recAddCstSup = #{recAddCstSup},
		    recAddCstTax = #{recAddCstTax},
		    recAddPrdCode = #{recAddPrdCode}
		WHERE recNo = #{recNo}
    </update>
    
    <update id="editOrder" parameterType="org.rainbow.company.calculateManagement.domain.TradeDetailEditVO">
    	UPDATE RAIN_order_tbl 
   		set
   		prdNo = #{prdNo},
   		count = 1,
   		totalAmount = #{prdSal},
   		orderDate = now(),
   		orderStatus = true,
   		step = '발송완료'
   		where ordNo = #{ordNo}
    </update>
    
    <!-- 거래미수 기업 -->
    <select id="ucCompany" resultType="org.rainbow.company.calculateManagement.domain.TradeDetailListVO">
         SELECT e.companyNo, e.comName, e.comBizType, a.recSum, a.recSup, a.recTax, f.prdCstPri, f.prdMargin, a.recPayMth, 
         a.recSortation, e.comEmail, a.recNo, a.recDed, a.recAdd, a.recDedSup, a.recAddSup, d.spotNo,
           a.recDedTax, a.recAddTax 
         FROM RAIN_receipt_tbl a    
         JOIN RAIN_order_tbl b ON a.ordNo = b.ordNo
         JOIN RAIN_cEMP_tbl c ON  b.cEmpNo = c.cEmpNo
         JOIN RAIN_cSpot_tbl d ON c.spotNo = d.spotNo
         JOIN RAIN_cCompany_tbl e ON e.companyNo =  d.companyNo
         LEFT JOIN RAIN_Products_tbl f ON b.prdNo = f.prdNo
         WHERE a.recSortation = '계산서발행' or a.recSortation = '카드미결제' or a.recSortation = '계산서미발행'
         Order by e.companyNo
    </select>
    
    <!-- 거래미수 서치  -->
    <select id="ucComSearch" parameterType="org.rainbow.company.calculateManagement.domain.TradeDetailSearchDTO" resultType="org.rainbow.company.calculateManagement.domain.TradeDetailListVO">
    	SELECT e.companyNo, e.comName, e.comBizType, a.recSum, a.recSup, a.recTax, f.prdCstPri, f.prdMargin, a.recPayMth, 
        a.recSortation, e.comEmail, a.recNo , a.recDed, a.recAdd, a.recDedSup, a.recAddSup, d.spotNo,
           a.recDedTax, a.recAddTax
		FROM RAIN_receipt_tbl a    
        JOIN RAIN_order_tbl b ON a.ordNo = b.ordNo
        JOIN RAIN_cEMP_tbl c ON  b.cEmpNo = c.cEmpNo
        JOIN RAIN_cSpot_tbl d ON c.spotNo = d.spotNo
        JOIN RAIN_cCompany_tbl e ON e.companyNo =  d.companyNo
        LEFT JOIN RAIN_Products_tbl f ON b.prdNo = f.prdNo
		WHERE a.recSortation IN ('계산서발행', '카드미결제', '계산서미발행')
		AND a.recNo IN (
		    SELECT a.recNo
		    FROM RAIN_receipt_tbl a
		    JOIN RAIN_order_tbl b ON a.ordNo = b.ordNo
	        JOIN RAIN_cEMP_tbl c ON  b.cEmpNo = c.cEmpNo
	        JOIN RAIN_cSpot_tbl d ON c.spotNo = d.spotNo
	        JOIN RAIN_cCompany_tbl e ON e.companyNo =  d.companyNo
	        LEFT JOIN RAIN_Products_tbl f ON b.prdNo = f.prdNo
		    WHERE 1=1
		    <if test="recPayMth != null and recPayMth != '전체' ">
		        AND a.recPayMth = '${recPayMth}' 
		    </if>
		    <if test="keyword != null and keyword != ''">
		        AND (
		            c.companyNo = '${keyword}' 
		            OR c.comName LIKE '%${keyword}%'
		        )
		    </if>
		    <if test="firDate != null and secDate != null">
		        AND STR_TO_DATE(a.recDate, '%Y-%m-%d') BETWEEN '${firDate}' AND '${secDate}'
		    </if>
		)
		ORDER BY e.companyNo
     </select>
     
    <!-- 미수관리 기업 다운로드 리스트  -->
    <select id="ucComDown" parameterType="org.rainbow.company.calculateManagement.domain.TradeDetailSearchDTO" resultType="org.rainbow.company.calculateManagement.domain.ucComDownVO">
   		SELECT e.companyNo, e.comName, e.comBizType, a.recSum, a.recSup, a.recTax, f.prdCstPri, f.prdMargin, a.recPayMth, 
        a.recSortation, e.comEmail, a.recNo 
		FROM RAIN_receipt_tbl a    
        JOIN RAIN_order_tbl b ON a.ordNo = b.ordNo
        JOIN RAIN_cEMP_tbl c ON  b.cEmpNo = c.cEmpNo
        JOIN RAIN_cSpot_tbl d ON c.spotNo = d.spotNo
        JOIN RAIN_cCompany_tbl e ON e.companyNo =  d.companyNo
        LEFT JOIN RAIN_Products_tbl f ON b.prdNo = f.prdNo
		WHERE a.recSortation IN ('계산서발행', '카드미결제', '계산서미발행')
		AND a.recNo IN (
		    SELECT a.recNo
		    FROM RAIN_receipt_tbl a    
	        JOIN RAIN_order_tbl b ON a.ordNo = b.ordNo
	        JOIN RAIN_cEMP_tbl c ON  b.cEmpNo = c.cEmpNo
	        JOIN RAIN_cSpot_tbl d ON c.spotNo = d.spotNo
	        JOIN RAIN_cCompany_tbl e ON e.companyNo =  d.companyNo
	        LEFT JOIN RAIN_Products_tbl f ON b.prdNo = f.prdNo
		    WHERE 1=1
		    and e.comBizType IN
		    <foreach item="item" collection="checkedValues" open="(" separator="," close=")">
		        #{item}
		    </foreach>
			AND a.recSortation IN
		    <foreach item="item" collection="checkedValues" open="(" separator="," close=")">
		        #{item}
		    </foreach>
		    <if test="recPayMth != null and recPayMth != '전체' ">
		        AND a.recPayMth = '${recPayMth}' 
		    </if>
		    <if test="keyword != null and keyword != ''">
		        AND (
		            e.companyNo = '${keyword}' 
		            OR e.comName LIKE '%${keyword}%'
		        )
		    </if>
		    <if test="firDate != null and secDate != null">
		        AND STR_TO_DATE(a.recDate, '%Y-%m-%d') BETWEEN '${firDate}' AND '${secDate}'
		    </if>  
		)
		ORDER BY e.companyNo
    </select>
    	
    <!--거래미수 지점   -->
    <select id="ucBranchList" resultType="org.rainbow.company.calculateManagement.domain.TradeDetailListVO">
    	SELECT d.spotNo, e.comName, e.comBizType, d.spName, a.recSum, a.recSup, a.recTax, f.prdCstPri, f.prdMargin, a.recPayMth, a.recSortation,
        a.recNo, c.cEmpEmail, a.recDed, a.recAdd, a.recDedSup, a.recAddSup, e.companyNo,
          a.recDedTax, a.recAddTax  
        FROM RAIN_receipt_tbl a    
        JOIN RAIN_order_tbl b ON a.ordNo = b.ordNo
        JOIN RAIN_cEMP_tbl c ON  b.cEmpNo = c.cEmpNo
        JOIN RAIN_cSpot_tbl d ON c.spotNo = d.spotNo
        JOIN RAIN_cCompany_tbl e ON e.companyNo =  d.companyNo
        LEFT JOIN RAIN_Products_tbl f ON b.prdNo = f.prdNo
        WHERE a.recSortation = '계산서발행' or a.recSortation = '카드미결제' or a.recSortation = '계산서미발행'
        ORDER BY d.spotNo
    </select>
    
    <!--거래미수 지점 검색  -->
    <select id="ucBranchSearch" parameterType="org.rainbow.company.calculateManagement.domain.TradeDetailSearchDTO" resultType="org.rainbow.company.calculateManagement.domain.TradeDetailListVO">
   		SELECT a.recNo, e.comName, e.comBizType, d.spName, d.spotNo, a.recDate, a.recSum, a.recSup, a.recTax, f.prdCstPri, f.prdMargin, a.recPayMth, a.recSortation,c.cEmpEmail , a.recDed, a.recAdd, a.recDedSup, a.recAddSup,
           a.recDedTax, a.recAddTax , e.companyNo   
		FROM RAIN_receipt_tbl a    
        JOIN RAIN_order_tbl b ON a.ordNo = b.ordNo
        JOIN RAIN_cEMP_tbl c ON  b.cEmpNo = c.cEmpNo
        JOIN RAIN_cSpot_tbl d ON c.spotNo = d.spotNo
        JOIN RAIN_cCompany_tbl e ON e.companyNo =  d.companyNo
        LEFT JOIN RAIN_Products_tbl f ON b.prdNo = f.prdNo
		WHERE a.recSortation IN ('계산서발행', '카드미결제', '계산서미발행')
		AND a.recNo IN (
		    SELECT a.recNo
		    FROM RAIN_receipt_tbl a
		    JOIN RAIN_order_tbl b ON a.ordNo = b.ordNo
	        JOIN RAIN_cEMP_tbl c ON  b.cEmpNo = c.cEmpNo
	        JOIN RAIN_cSpot_tbl d ON c.spotNo = d.spotNo
	        JOIN RAIN_cCompany_tbl e ON e.companyNo =  d.companyNo
	        LEFT JOIN RAIN_Products_tbl f ON b.prdNo = f.prdNo
		    WHERE 1=1
		    <if test="recPayMth != null and recPayMth != '전체' ">
		        AND a.recPayMth = '${recPayMth}' 
		    </if>
		    <if test="keyword != null and keyword != ''">
		        AND (
		            a.recNo = '${keyword}' 
		            OR e.comName LIKE '%${keyword}%'
		            OR d.spName LIKE '%${keyword}%'
		        )
		    </if>
		    <if test="firDate != null and secDate != null">
		        AND STR_TO_DATE(a.recDate, '%Y-%m-%d') BETWEEN '${firDate}' AND '${secDate}'
		    </if>
		)
		ORDER BY a.recNo
     </select>
     
     <!-- 거래 지점 다운로드 리스트   -->
   	 <select id="ucBranchDown" parameterType="org.rainbow.company.calculateManagement.domain.TradeDetailSearchDTO" resultType="org.rainbow.company.calculateManagement.domain.ucBranchDownVO">
   		SELECT d.spotNo, e.comName, e.comBizType, d.spName, a.recSum, a.recSup, a.recTax, f.prdCstPri, f.prdMargin, recPayMth, a.recSortation
		FROM RAIN_receipt_tbl a    
        JOIN RAIN_order_tbl b ON a.ordNo = b.ordNo
        JOIN RAIN_cEMP_tbl c ON  b.cEmpNo = c.cEmpNo
        JOIN RAIN_cSpot_tbl d ON c.spotNo = d.spotNo
        JOIN RAIN_cCompany_tbl e ON e.companyNo =  d.companyNo
        LEFT JOIN RAIN_Products_tbl f ON b.prdNo = f.prdNo
		WHERE a.recSortation IN ('계산서발행', '카드미결제', '계산서미발행')
		AND a.recNo IN (
		    SELECT a.recNo
		    FROM RAIN_receipt_tbl a    
	        JOIN RAIN_order_tbl b ON a.ordNo = b.ordNo
	        JOIN RAIN_cEMP_tbl c ON  b.cEmpNo = c.cEmpNo
	        JOIN RAIN_cSpot_tbl d ON c.spotNo = d.spotNo
	        JOIN RAIN_cCompany_tbl e ON e.companyNo =  d.companyNo
	        LEFT JOIN RAIN_Products_tbl f ON b.prdNo = f.prdNo
		    WHERE 1=1
		    and e.comBizType IN
		    <foreach item="item" collection="checkedValues" open="(" separator="," close=")">
		        #{item}
		    </foreach>
			AND a.recSortation IN
		    <foreach item="item" collection="checkedValues" open="(" separator="," close=")">
		        #{item}
		    </foreach>
		    <if test="recPayMth != null and recPayMth != '전체' ">
		        AND a.recPayMth = '${recPayMth}' 
		    </if>
		    <if test="keyword != null and keyword != ''">
		        AND (
		            e.companyNo = '${keyword}' 
		            OR e.comName LIKE '%${keyword}%'
		        )
		    </if>
		    <if test="firDate != null and secDate != null">
		        AND STR_TO_DATE(a.recDate, '%Y-%m-%d') BETWEEN '${firDate}' AND '${secDate}'
		    </if>  
		)
		ORDER BY e.companyNo
    
    </select>
   
    <!--명세서기준   -->
    <select id="uctdList" resultType="org.rainbow.company.calculateManagement.domain.TradeDetailListVO">
    	SELECT a.recNo, e.comName, e.comBizType, d.spName, a.recDate, a.recSum, a.recSup, a.recTax, f.prdCstPri, f.prdMargin, a.recPayMth, a.recSortation, a.recDed, a.recAdd, a.recDedSup, a.recAddSup,
           a.recDedTax, a.recAddTax, e.companyNo, d.spotNo 
        FROM RAIN_receipt_tbl a    
        JOIN RAIN_order_tbl b ON a.ordNo = b.ordNo
        JOIN RAIN_cEMP_tbl c ON  b.cEmpNo = c.cEmpNo
        JOIN RAIN_cSpot_tbl d ON c.spotNo = d.spotNo
        JOIN RAIN_cCompany_tbl e ON e.companyNo =  d.companyNo
        LEFT JOIN RAIN_Products_tbl f ON b.prdNo = f.prdNo
        WHERE a.recSortation = '계산서발행' or a.recSortation = '카드미결제' or a.recSortation = '계산서미발행'
        ORDER BY a.recNo
    </select>
    
    <!--거래미수 명세 검색  -->
    <select id="ucTdSearch" parameterType="org.rainbow.company.calculateManagement.domain.TradeDetailSearchDTO" resultType="org.rainbow.company.calculateManagement.domain.TradeDetailListVO">
    	SELECT a.recNo, e.comName, e.comBizType, d.spName, a.recDate, a.recSum, a.recSup, a.recTax, f.prdCstPri, f.prdMargin, a.recPayMth, a.recSortation, a.recDed, a.recAdd, a.recDedSup, a.recAddSup,
           a.recDedTax, a.recAddTax, e.companyNo, d.spotNo
        FROM RAIN_receipt_tbl a    
        JOIN RAIN_order_tbl b ON a.ordNo = b.ordNo
        JOIN RAIN_cEMP_tbl c ON  b.cEmpNo = c.cEmpNo
        JOIN RAIN_cSpot_tbl d ON c.spotNo = d.spotNo
        JOIN RAIN_cCompany_tbl e ON e.companyNo =  d.companyNo
        LEFT JOIN RAIN_Products_tbl f ON b.prdNo = f.prdNo
		WHERE a.recSortation IN ('계산서발행', '카드미결제', '계산서미발행')
		AND a.recNo IN (
		    SELECT a.recNo
	        FROM RAIN_receipt_tbl a
	     	JOIN RAIN_order_tbl b ON a.ordNo = b.ordNo
	        JOIN RAIN_cEMP_tbl c ON  b.cEmpNo = c.cEmpNo
	        JOIN RAIN_cSpot_tbl d ON c.spotNo = d.spotNo
	        JOIN RAIN_cCompany_tbl e ON e.companyNo =  d.companyNo
	        LEFT JOIN RAIN_Products_tbl f ON b.prdNo = f.prdNo
		    WHERE 1=1
		    <if test="recPayMth != null and recPayMth != '전체' ">
		        AND a.recPayMth = '${recPayMth}' 
		    </if>
		    <if test="keyword != null and keyword != ''">
		        AND (
		            a.recNo = '${keyword}' 
		            OR e.comName LIKE '%${keyword}%'
		            OR d.spName LIKE '%${keyword}%'
		        )
		    </if>
		    <if test="firDate != null and secDate != null">
		        AND STR_TO_DATE(a.recDate, '%Y-%m-%d') BETWEEN '${firDate}' AND '${secDate}'
		    </if>
		    
		)
		ORDER BY a.recNo
     </select>
     
     <!-- 거래 지점 다운로드 리스트   -->
   	 <select id="ucTdDown" parameterType="org.rainbow.company.calculateManagement.domain.TradeDetailSearchDTO" resultType="org.rainbow.company.calculateManagement.domain.tdDownVO">
   		SELECT a.recNo, e.comName, e.comBizType, d.spName, a.recDate, a.recSum, a.recSup, a.recTax, f.prdCstPri, f.prdMargin, a.recPayMth, a.recSortation, a.recDed, a.recAdd
        FROM RAIN_receipt_tbl a    
        JOIN RAIN_order_tbl b ON a.ordNo = b.ordNo
        JOIN RAIN_cEMP_tbl c ON  b.cEmpNo = c.cEmpNo
        JOIN RAIN_cSpot_tbl d ON c.spotNo = d.spotNo
        JOIN RAIN_cCompany_tbl e ON e.companyNo =  d.companyNo
        LEFT JOIN RAIN_Products_tbl f ON b.prdNo = f.prdNo
		WHERE a.recSortation IN ('계산서발행', '카드미결제', '계산서미발행')
		AND a.recNo IN (
		    SELECT a.recNo
	        FROM RAIN_receipt_tbl a
	     	JOIN RAIN_order_tbl b ON a.ordNo = b.ordNo
	        JOIN RAIN_cEMP_tbl c ON  b.cEmpNo = c.cEmpNo
	        JOIN RAIN_cSpot_tbl d ON c.spotNo = d.spotNo
	        JOIN RAIN_cCompany_tbl e ON e.companyNo =  d.companyNo
	        LEFT JOIN RAIN_Products_tbl f ON b.prdNo = f.prdNo
		    WHERE 1=1
		    <if test="recPayMth != null and recPayMth != '전체' ">
		        AND a.recPayMth = '${recPayMth}' 
		    </if>
		    <if test="keyword != null and keyword != ''">
		        AND (
		            a.recNo = '${keyword}' 
		            OR e.comName LIKE '%${keyword}%'
		            OR d.spName LIKE '%${keyword}%'
		        )
		    </if>
		    <if test="firDate != null and secDate != null">
		        AND STR_TO_DATE(a.recDate, '%Y-%m-%d') BETWEEN '${firDate}' AND '${secDate}'
		    </if>
		     and e.comBizType IN
		    <foreach item="item" collection="checkedValues" open="(" separator="," close=")">
		        #{item}
		    </foreach>
			AND a.recSortation IN
		    <foreach item="item" collection="checkedValues" open="(" separator="," close=")">
		        #{item}
		    </foreach>
		)
		ORDER BY a.recNo
    
    </select>
    
    <!-- 계산서 스타트  -->
    <!-- 계산서 발행 리스트  -->
    <select id="IoBillList" resultType="org.rainbow.company.calculateManagement.domain.TradeDetailListVO">
    	SELECT a.recNo, d.spotNo, e.comName, e.comBizType, d.spName, a.recSum, a.recSup, a.recTax, a.recPayMth, a.recSortation, a.recDed, a.recAdd, a.recDedSup, a.recAddSup,
           a.recDedTax, a.recAddTax, e.companyNo
        FROM RAIN_receipt_tbl a    
        JOIN RAIN_order_tbl b ON a.ordNo = b.ordNo
        JOIN RAIN_cEMP_tbl c ON  b.cEmpNo = c.cEmpNo
        JOIN RAIN_cSpot_tbl d ON c.spotNo = d.spotNo
        JOIN RAIN_cCompany_tbl e ON e.companyNo =  d.companyNo
        LEFT JOIN RAIN_Products_tbl f ON b.prdNo = f.prdNo
		WHERE a.recSortation = '계산서미발행'
    </select>
    
    <!-- 계산서 발행  -->
    <update id="billMakeProcessing" parameterType="java.util.List">
		  	update RAIN_receipt_tbl
		    set recSortation = '계산서발행'
		    where recNo IN
		    <foreach item="item" collection="list" open="(" separator="," close=")">
		        #{item}
		    </foreach>
	</update>
	
	<!--계산서 발행 검색  -->
    <select id="billSearch" parameterType="org.rainbow.company.calculateManagement.domain.TradeDetailSearchDTO" resultType="org.rainbow.company.calculateManagement.domain.TradeDetailListVO">
    	SELECT a.recNo, e.comName, e.comBizType, d.spName, a.recSum, a.recSup, a.recTax, a.recPayMth, a.recSortation, a.recDed, a.recAdd, a.recDedSup, a.recAddSup,
           a.recDedTax, a.recAddTax, e.companyNo
        FROM RAIN_receipt_tbl a    
        JOIN RAIN_order_tbl b ON a.ordNo = b.ordNo
        JOIN RAIN_cEMP_tbl c ON  b.cEmpNo = c.cEmpNo
        JOIN RAIN_cSpot_tbl d ON c.spotNo = d.spotNo
        JOIN RAIN_cCompany_tbl e ON e.companyNo =  d.companyNo
        LEFT JOIN RAIN_Products_tbl f ON b.prdNo = f.prdNo
		WHERE a.recSortation IN '카드미결제'
		AND a.recNo IN (
		    SELECT a.recNo
	        FROM RAIN_receipt_tbl a
	     	JOIN RAIN_order_tbl b ON a.ordNo = b.ordNo
	        JOIN RAIN_cEMP_tbl c ON  b.cEmpNo = c.cEmpNo
	        JOIN RAIN_cSpot_tbl d ON c.spotNo = d.spotNo
	        JOIN RAIN_cCompany_tbl e ON e.companyNo =  d.companyNo
	        LEFT JOIN RAIN_Products_tbl f ON b.prdNo = f.prdNo
		    WHERE 1=1
		    <if test="keyword != null and keyword != ''">
		        AND (
		            a.recNo = '${keyword}' 
		            OR e.comName LIKE '%${keyword}%'
		            OR d.spName LIKE '%${keyword}%'
		        )
		    </if>
		    <if test="firDate != null and secDate != null">
		        AND STR_TO_DATE(a.recDate, '%Y-%m-%d') BETWEEN '${firDate}' AND '${secDate}'
		    </if>
		)
		ORDER BY a.recNo
     </select>
    
    	
    
    
</mapper>
